body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  height: 100%;
  width: 100%;
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: rgb(154, 199, 168);
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 7px 5px rgb(211, 101, 101);
}
#result {
  height: 120px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0px 20px;
  padding-top: 20px;
  font-size: 15px;
  color: white;
}
#output {
  color: white;
  font-weight: bold;
  text-align: right;
  height: 60px;
  margin: 38px 26px;
  font-size: 30px;
}

#keyboard {
  height: 400px;
}

.operator,
.number,
.empty {
  height: 50px;
  width: 50px;
  margin: 15px;
  float: left;
  border-radius: 20px;
  border-width: 0px;
  font-weight: bold;
  font-size: 22px;
}
.number {
  cursor: pointer;
  background-color: rgb(230, 187, 187);
}
.empty {
  background-color: rgb(154, 199, 168);
}
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}

.number:hover {
  background-color: white;
  color: red;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  background-color: teal;
  color: white;
  font-size: 28px;
}
button:nth-child(8) {
  background-color: rgb(168, 167, 99);
  color: white;
  font-size: 28px;
}
button:nth-child(12) {
  background-color: rgb(161, 41, 185);
  color: white;
  font-size: 28px;
}
button:nth-child(16) {
  background-color: rgb(100, 151, 160);
  color: white;
  font-size: 28px;
}

button:nth-child(20) {
  background-color: rgb(224, 16, 16);
  color: white;
  font-size: 28px;
}
